<footer class="footer">
  <div class="footer-content">
    <div class="footer-section about">
      <h3>Daas Enterprises</h3>
      <p>At Daas Enterprises, we are passionate about delivering premium leather products and high-performance sportswear that stand out in quality and design.</p>
    </div>

    <div class="footer-section links">
      <h3>More Info</h3>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/shop">Shop</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
      </ul>
    </div>

    <div class="footer-section links">
      <h3>Our Category</h3>
      <ul>
        <li><a href="#">Leather wears</a></li>
        <li><a href="#">Active Wears</a></li>
        <li><a href="#">Safety wear</a></li>
        <li><a href="#">Moto Bike Jacket</a></li>
      </ul>
    </div>

    <div class="footer-section contact-info">
      <h3>Contact Us</h3>
      <p><i class="fas fa-map-marker-alt"></i> People Colony, Gujranwala Pakistan</p>
      <p><i class="fas fa-phone"></i> +92-321-6467893</p>
      <p><i class="fas fa-phone"></i> +92-312-3232832</p>
      <p><i class="fas fa-envelope"></i> daas.com</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 Murtaza Almas. All rights reserved.</p>
  </div>
</footer>
