<!-- Top Yellow Bar -->
<div class="top-bar">
  <div class="row">
    <div class="col-md-4">
      <p class="date-time">{{ currentDate | date:'d MMM yyyy HH:mm' }}</p>
    </div>
    <div class="col-md-8">
      <div class="top-links">
        <ng-container *ngFor="let link of topBarLinks; let last = last">
          <a class="hover-underline">{{ link.label }}</a>
          <span class="separator" *ngIf="!last">|</span>
        </ng-container>
        <button class="advertise-btn">{{ topBarButton.label }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Main Navbar -->
<header class="main-nav">
  <!-- Logo -->
  <div class="logo-container">
    <img src="/assets/images/logo.png" alt="Dubai Local" class="navLogo">

    <!-- <span class="logo-text">FIND ALL YOUR NEEDS</span> -->
  </div>

  <!-- Menu Items -->
  <nav class="nav-menu">
    <div class="nav-item dropdown" *ngFor="let item of navMenu">
      <a class="nav-link dropdown-toggle" role="button">
        <i [class]="item.icon"></i>
        {{ item.name }}
      </a>
      <div class="dropdown-menu" [ngClass]="{'right-aligned': item.name === 'Automobile' || item.name === 'More [+]'}">
        <ul class="dropdown-grid">
          <li *ngFor="let drop of item.dropdown">
            <a class="dropdown-item" [routerLink]="drop.route">
              <span>
                <i [class]="drop.icon"></i>
                {{ drop.name }}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <button class="list-business-btn">List Your Business</button>
  </nav>
</header>